
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

body {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 100%;
    background-color: white;
    border-bottom: 3px solid #000;
    width: 100%;
    z-index: 1000;
    /* Đảm bảo thanh menu luôn ở trên cùng */
    position: fixed;
    /* cố định menu */
    top: 0;
    left: 0;
    
}


/* PHẦN MENU */
.main-menu {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    padding: 15px 200px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}


/* Logo bên trái */
.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: black;
}

/* Menu nằm ngang */
.menu {
    list-style: none;
    display: flex;
    /* để các mục nằm ngang */
    gap: 30px;
    /* khoảng cách giữa các mục */
    margin: 0;
    padding: 0;
}

/* Gạch phân cách giữa các mục */
.menu .menu1 {
    border-right: 2px solid black;
    padding-right: 20px;
}

.menu li:last-child {
    border-right: none;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.menu1 a:hover {
    color: aqua;
}

/* Icon bên phải */
.icon {
    display: flex;
    font-size: 20px;
    gap: 5px;
}

.icon i {
    cursor: pointer;
    color: black;
    font-size: 18px;
}

.header{
    background-color: #222222;
    height: 200px;
    margin-top: 59px;
}


.header-chu{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 70px;
}

.header-chu2{
    font-size: 20px;
    text-align: center;
}

/* PHẦN FOOTER */

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer img {
    width: 100%;
    /* Ảnh phủ hết chiều ngang khung */
    height: 400px;
    /* Giới hạn chiều dài ảnh */
    object-fit: cover;
    /* Cắt ảnh để vừa khung, không bị méo */
    object-position: 50% 55%;
    /* Giữ phần giữa của ảnh */
    display: block;
}

.footer-end {
    color: white;
    width: 100%;
    padding: 25px 0;
    background-color: #000;
    display: flex;
    /* Câu lệnh display và justify-conten là câu lệnh nằm giữa */
    justify-content: center;

}

.footer-begin {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

img{
    filter: brightness(60%);
}

.box {
    width: 260px;
    height: 150px;
    border: 2px solid #000000;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa-envelope {
    font-size: 100px;
    color: #000000;
    margin: 0 auto;
}

.fa-phone {
    font-size: 95px;
    color: #000000;
    margin: 0 auto 5px;
}

.fa-location-dot {
    font-size: 95px;
    color: #000000;
    margin: 0 auto 5px;
}


.footer-content {
    position: absolute;
    max-width: 1200px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    line-height: 30px;
    
}

.footer-title {
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    margin-top: 50px;
    margin-right: 718px;
}

.footer-title1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.footer-title2 {
    font-size: 15px;
    color: white;
}

.footer-icon {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.footer-link{
    position: absolute;
    filter: brightness(1.8);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 350px;
    margin-right: 630px;
}

.footer-icon img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    padding: 5px;
}

.add {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
/* --------------------- KO DUOC SUA PHAN TREN--------------------------- */
.login-container {
    width: 500px;
    margin: 40px auto;
    padding: 40px;
    border: 2px solid #000;
    border-radius: 4px;
    text-align: center;
    background: #fff;
}

.login-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.input-box {
    width: 90%;
    padding: 14px;
    margin: 12px 0;
    border: 1.5px solid #999;
    border-radius: 4px;
    font-size: 16px;
}

.btn-login {
    width: 160px;
    padding: 12px 0;
    background: #26a6ff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.signup-text {
    margin-top: 25px;
    font-size: 15px;
}

.signup-text a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover {
    text-decoration: underline;
}
